:root{
    --blancorgbalfa70: rgb(255, 255, 255, .7);
    --colorWhite: #FFFFFF;
    --colorBlack: #1B1B1B;
    --colorOrange: #ff4500;
    --colorPink: #ffc0cb;
    --colorBrown: #4e1d06;
    --colorGreenLight: #b9f290;
    --colorBlackRed: #891919;
    --colorRed: #ff0000;
}

body{
    margin: 0;
    background: url(imgs/Ojo_Touhou.png) no-repeat center center fixed;
    background-size: cover;
    font-family: Carlito, sans-serif;
    min-height: 100vh;
    user-select: none;
}
header{
    background: var(--colorBlack);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    color: var(--colorWhite);
}
main{
    width: 80%;
    margin: auto;
    padding: 20px;
    background: var(--blancorgbalfa70);
    display: flex;
    gap: 30px;
}
#imagen{
    width: 200px;
}

#palabra_a_adivinar{
    height: 3em;
}
#palabra_a_adivinar span{
    vertical-align: bottom;
    font-size: 2em;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}
#letras{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
#letras button{
    width: 28px;
    padding: 6px 0;
    text-align: center;
    background-color: var(--colorBrown);
    color: var(--colorGreenLight);
    cursor: pointer;
}
#letras button:hover{
    background-color: var(--colorGreenLight);
    color: var(--colorBrown);
}
#letras button:disabled{
    background-color: var(--colorBlackRed);
    color: var(--colorRed);
    cursor: not-allowed;
}
#name{
    color: var(--colorBlackRed);
}
#name::placeholder{
    color: var(--colorBlackRed);
}
#jugar{
    cursor: pointer;
    color: var(--colorPink);
    background-color: var(--colorBrown);
}
#jugar:hover{
    color: var(--colorGreenLight);
}
#jugar:disabled{
    background-color: var(--colorBlackRed);
    color: var(--colorRed);
    cursor: not-allowed;
}